<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Objeto Perdido Registrado</title>
    <link rel="stylesheet" href="../static/css/emailStyles.css">
</head>
<body>

<div class="container">
    <div class="header">
        <img src="../static/img/logo2.png" alt="Logo de la aplicación">
    </div>

    <h2 class="title">Nuevo Objeto Perdido Registrado</h2>

    <p class="text">
        Se ha registrado un nuevo objeto perdido en nuestra plataforma. A continuación, los detalles:
    </p>

    <div class="info-cards">
        <div class="card">
            <p class="card-label">ID del Objeto Perdido</p>
            <p class="card-value" th:text="${ID_ObjetoPerdido}">ID</p>
        </div>
        <div class="card">
            <p class="card-label">Piso</p>
            <p class="card-value" th:text="${Piso}">Piso</p>
        </div>
        <div class="card">
            <p class="card-label">Ubicación</p>
            <p class="card-value" th:text="${Ubicacion}">Ubicación</p>
        </div>
        <div class="card">
            <p class="card-label">Estado del Reporte</p>
            <p class="card-value" th:text="${Estado_Reporte}">Estado del Reporte</p>
        </div>
        <div class="card">
            <p class="card-label">Estado de la Tarea</p>
            <p class="card-value" th:text="${Estado_Tarea}">Estado de la Tarea</p>
        </div>
        <div class="card">
            <p class="card-label">Detalle</p>
            <p class="card-value" th:text="${Detalle}">Detalle</p>
        </div>
        <div class="card">
            <p class="card-label">Email</p>
            <p class="card-value" th:text="${Email}">Email</p>
        </div>
        <div class="card">
            <p class="card-label">Número de Teléfono</p>
            <p class="card-value" th:text="${PhoneNumber}">Número de Teléfono</p>
        </div>

    </div>

    <p class="footer-text">
        &copy; 2024 Lost&Found. Todos los derechos reservados.
    </p>
</div>

</body>
</html>
