<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualización del Estado de Objeto Perdido</title>
    <link rel="stylesheet" href="../static/css/emailStyles.css">
</head>
<body>

<div class="container">
    <div class="header">
        <img src="../static/img/logo2.png" alt="Logo de la aplicación">
    </div>

    <h2 class="title">Actualización del Estado de Objeto Perdido</h2>

    <p class="text">
        Se ha actualizado el estado del siguiente objeto perdido:
    </p>

    <div class="info-cards">
        <div class="card">
            <p class="card-label">ID del Objeto Perdido</p>
            <p class="card-value" th:text="${ID_del_Objeto_Perdido}">ID</p>
        </div>
        <div class="card">
            <p class="card-label">Descripción</p>
            <p class="card-value" th:text="${Descripcion}">Descripción</p>
        </div>
        <div class="card">
            <p class="card-label">Estado del Reporte</p>
            <p class="card-value" th:text="${Estado_del_Reporte}">Estado del Reporte</p>
        </div>
        <div class="card">
            <p class="card-label">Estado de la Tarea</p>
            <p class="card-value" th:text="${Estado_de_la_Tarea}">Estado de la Tarea</p>
        </div>
    </div>

    <p class="footer-text">
        &copy; 2024 Lost&Found. Todos los derechos reservados.
    </p>
</div>

</body>
</html>
